/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/


.anythingSlider {
	width: 960px; 
	height: 405px; 
	position: relative; 
	margin: 0 auto; 
}
.anythingSlider .wrapper {
	width: 960px; 
	overflow: auto; 
	height: 405px; 
	margin: 0; 
	position: absolute; 
	top: 0; 
	left: 0; 
}
.anythingSlider .wrapper ul {
	width: 9999px; 
	list-style: none; 
	position: absolute;
	top: 0; 
	left: -40px; 	
	margin: 0; 
}
.anythingSlider ul li {
	display: block; 
	float: left; 
	padding: 0; 
	height: 405px; 
	width: 960px;
}
.anythingSlider .arrow {
	display: block; 
	height: 200px; 
	width: 80px; 
	background: url(../img/arrows.png) no-repeat 0 0; 
	text-indent: -9999px; 
	position: absolute; 
	top: 100px; 
	cursor: pointer; 
}
.anythingSlider .forward {
	background-position: 0 0; 
	right: -100px;
	position: absolute;
}
.anythingSlider .back {
	background-position: -100px 0; 
	left: -100px;
	position: absolute;
}
.anythingSlider .forward:hover {
	background-position: 0 -200px; 
}
.anythingSlider .back:hover {
	background-position: -100px -200px; 
}

#thumbNav                               { position: relative; top: 323px; text-align: center; }
#thumbNav a                             { color: black; font: 11px/18px; Georgia, Serif; display: inline-block; padding: 2px 8px; height: 18px; margin: 0 5px 0 0; background: #c58b04 url(../img/cellshade.png) repeat-x; text-align: center; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
#thumbNav a:hover                       { background-image: none; }
#thumbNav a.cur                         { background: #e0a213; }

#start-stop                             { display: none; }
#start-stop.playing                     { display: none; }
#start-stop:hover                       { display: none; }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }