/*Grid*/
.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }

div[class*="column"] {  
	float: left;
	box-sizing: border-box;
}

section[class*="column"] {  
	float: left;
	box-sizing: border-box;
}

.row:after,
.clearfix:after {
	content:""; 
	display: block; 
	clear: both;
}

.pull-right {
	float:right
}  

.pull-left {
	float:left
}

.text-right{
	text-align:right;
} 

.text-center {
	text-align:center;
}

.inline-block {
	display: inline-block;
}  

ul.list-inline {
	padding:0; margin:0
}

ul.list-inline > li {
	display: inline-block;
	margin: 0;
	padding: 0;
} 

.inline {
	display: inline
}
.container { 
	width: 960px; 
	margin: 0 auto;
	font-family: Roboto;
}

.container-mini {
	width: 940px;
}

/*Grid*/



/*Header*/
header {
	background-image: url(../img/bg-header.png);
	background-repeat: no-repeat;
	background-position: center 0;

}

.header__logo {
	display: inline-block;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 41px;
	text-transform: uppercase;
	text-decoration: none;
}

header ul li a {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	margin-right: 43px;
	margin-top: 47px;
	-moz-transition: color 0.5s 0.1s ease;
	-o-transition: color 0.5s 0.1s ease;
	-webkit-transition: color 0.5s 0.1s ease;
}

header ul li a:hover {
	color: #888888;
}

.header__subtitle {
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 182px;
	margin-bottom: 0;
}

.header__title {
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
	width: 570px;
	text-transform: uppercase;
	margin-top: 25px;
}

.header__btn {
	display: inline-block;
	color: #ffffff;
	padding: 21px 40px 19px 40px;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #ffffff;
	border-radius: 4px;
	text-decoration: none;
	-moz-transition: border 0.5s 0.1s ease;
	-o-transition: border 0.5s 0.1s ease;
	-webkit-transition: border 0.5s 0.1s ease;
	margin-right: 24px;
	margin-bottom: 200px;

}

.header__btn:hover {
	border: 2px solid #888888;
}

/*Brief*/
.brief {
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 75px;
}

.brief__title {
	float: left;
	display: inline-block;
	color: #464646;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 200px;
}

.brief__info {
	margin-top: 90px;
	color: #b7b7b7;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}

.brief__info > p:first-child {
	display: inline-block;
	margin-bottom: 30px;
}
/*Brief*/

/*How*/
.how__title {
	color: #464646;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
}

.how__title:after {
	content: "";
	background-image: url(../img/subtitleimg.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 67px;
	left: 50%;
	margin-top: 58px;
	margin-left: -33px;
	position: absolute;
}

.how__subtitle {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	color: #c4c4c4;
	width: 100%;
	text-align: center;
	margin-top: 28px;
	margin-bottom: 65px;
}

.item__img {
	width: 64px;
	margin-top: 75px;
	margin-bottom: 25px;
}

.item__title {
	font-size: 18px;
	font-weight: bold;
	color: #464646;
	display: block;
	width: 235px;
	margin-bottom: 25px;
}

.item__subtitle {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	color: #b7b7b7;
	width: 300px;
}
/*Brief*/

/*Slider*/

/*Slider*/

/*Why*/
.why__title {
	color: #464646;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 170px;
	margin-bottom: 170px;
	width: 150px;
}

.why__item-title {
	display: inline-block;
	color: #464646;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 27px;
}

.why__item-title:first-child {
	margin-top: 95px;
}

.why__item-text {
	color: #b7b7b7;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	width: 250px;
	margin-bottom: 80px;
}
/*Why*/

/*Work*/
.work__img {
	margin-top: -5px;
}

.work__title {
	color: #464646;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 56px;
	margin-left: 45px;
	margin-bottom: 43px;
}

.work__title__img {
	margin-top: 0;
	margin-left: 45px;
}

.work__text {
	display: inline-block;
	color: #b7b7b7;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	width: 423px;
	margin-top: 54px;
	margin-bottom: 90px;
}

.work__text-second {
	display: inline-block;
	color: #b7b7b7;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	width: 423px;
	margin-left: 45px;
	margin-top: 54px;
	margin-bottom: 90px;
}
/*Work*/

/*Reviews*/
.reviews {
	background-color: #faf9f9;
	padding: 60px 0 110px;
}

.reviews__title {
	color: #464646;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 70px;
	margin-bottom: 50px;
}

.reviews__title:after {
	content: "";
	background-image: url(../img/subtitleimg.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 67px;
	left: 50%;
	margin-top: 58px;
	margin-left: -33px;
	position: absolute;
}

.reviews__subtitle {
	display: inline-block;
	color: #b7b7b7;
	font-size: 18px;
	font-weight: 300;
	width: 100%;
	text-align: center;
	margin-bottom: 95px;
}

.reviews__item {
	padding-left: 65px;
	position: relative;
}

.reviews__item-s {
	padding-left: 65px;
	position: relative;
	margin-top: 100px;
}

.reviews__item__author {
	font-size: 18px;
	font-weight: bold;
	color: #464646;
	width: 100%;
	display: inline-block;
}

.reviews__item__author:before {
	content: "";
	background-image: url(../img/reviews__img.png);
	background-repeat: no-repeat;
	height: 38px;
	width: 38px;
	left: 10px;
	top: -10px;
	position: absolute;
}

.reviews__item__job {
	font-size: 14px;
	font-weight: 300;
	color: #b7b7b7;
	width: 100%;
	display: inline-block;
	margin: 17px 0 19px;
}

.reviews__item__text {
	font-size: 16px;
	font-weight: 300;
	color: #b7b7b7;
}




































